# Секретные ключи и настройки
.env

# Виртуальное окружение
venv/
.venv/
env/

# Файлы базы данных (чтобы не затереть базу при синхронизации)
*.sqlite3

# Временные файлы Python
__pycache__/
*.py[cod]